
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
    font-family: "Roboto Mono", monospace;
}
.Main-Heading{
    text-align: center;
}
.container{
    margin-bottom: 10px;
    /* padding: 10px; */
}
.Item-category{
    color: rgba(211, 155, 155, 0.685);
}
.card-discription{
    overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
}
.card-inside{
    display: flex;
    justify-content: center;
    /* gap: 20px; */
}
 .Product{
    display: flex;
    justify-content: center;
    margin: 20px;
 }
 .heading{
    text-align: center;
 }
 .Icon-Box{
    display: flex;
    /* justify-content: center; */
    padding: 5px 20px;
 }